name: Build & Publish Debug APK

on:
 workflow_dispatch:
  branches:
   - master
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
    - name: Run
      run: |
        cd $GITHUB_WORKSPACE
        git submodule update --init
        #sudo ./gradlew buildStorigDebug
    - name: Build with Gradle
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: buildStorigDebug

    - name: Upload apk
      uses: actions/upload-artifact@v2
      with:
        name: apk
        path: bin/*.apk
